body {
    background-color: #f3f5fc;
    font-family: 'Inter', sans-serif;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
header{
    width: 20%;
}
section{
    flex-grow: 2;
    flex-basis: 200;
}

.logo{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 120px;
    height: 48px;
}

.ingresar-texto{
    display: flex;
    flex-direction: column;
    width: 66,6%;
    height: 66,6%;
    
}
.text-container{
    margin-left: 10%;
}

.tarjeta {
    width: 27%;
    
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    
  }

.text-area {
    background: #f3f5fc;
    width: 792px;
    height: 431px;
    border:none;
    color: #0A3871;
    text-transform: lowercase;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    gap: 16px;
    text-align: start;
    
    padding: 15px;
}
::placeholder{color: #0A3871;}
    .text-area:focus{
        outline: none;
    }

.advertencia-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}
.advertencia{
    width: 16px;
    height: 16px;
    padding-right: 5px;
}


.btn-encriptar{
    width: 328px;
    height: 67px;
    background-color: #001f3f; /* Dark blue */
    color: #ffffff;
    border: 1px solid #001f3f;
    border-radius:10px;
}
.btn-desencriptar{
    width: 328px;
    height: 67px;
    background-color: #D8DFE8; /* Light blue */
    color: #001f3f;
    border: 1px solid #001f3f    ;
    border-radius:10px;
}

.copiar{
    width: 328px;
    height: 67px;
    background-color: #ffffff; /* Light blue */
    color: #001f3f;
    border: 1px solid #001f3f    ;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tarjeta-div {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

.mensaje {
    height: 100%; 
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.mensaje h2{
    font-family: 'Inter', sans-serif;
    width: 336px;
    height: 48px;
    text-align: center;
}

.mensaje h4{
    font-family: 'Inter', sans-serif;
    width: 336px;
    height: 48px;
    text-align: center;
}

.Imagen-notexto {
    height:304px ;
    width: 336px;
    display: flex;
    justify-content: center;
}

.boton-copiar {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.botones{
    margin-left: 10%;
}

#displayText {
    font-family: 'Inter', sans-serif;
    font-size: 23px; /* Tamaño de letra ajustado */
    color: #001f3f; /* Color ajustado */
    width: 90%;
    height: 100%; /* Cambiado a auto para ajustarse al contenido */
    gap: 16px;
    position: absolute; /* Cambiado a absolute */
    top: 0; /* Ajustado a la parte superior de la tarjeta */
    text-align: start;
    display: none;
    padding: 15px;
}
